.welcome-page {
  background-image: url("../images/landing_colin_formatted_wide.png");
  background-size: cover;
  background-color: black;
  background-position: 55% 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* padding-top: 0px; */
}

.welcome-shout {
  vertical-align: middle;
}


#row-1 {
  height: 500px;
}

#row-2 {
  height: 500px;
}
/*
#shout-name {
  font-size: 2rem;
} */

@include media-breakpoint-up(sm) {
  #shout-name.h3 {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  #shout-name.h3 {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  #shout-name.h3 {
    font-size: 1.6rem;
  }
}
