.welcome-page {
  background-image: url("../images/landing_colin_formatted_wide.png");
  background-size: cover;
  background-color: black;
  background-position: 55% 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 100%;
  /* padding-top: 0px; */
}

.welcome-shout {
  vertical-align: middle;
}

#shout-name {

}

#row-1 {
  height: 500px;
}

#row-2 {
  height: 500px;
}
