.welcome-page {
  background-image: url("../images/landing_colin_formatted.png");
  background-size: cover;
  background-color: black;
  background-position: 65% 35%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 3800px;
  width: 100%;
  /* padding-top: 0px; */
}

.row-1 {
  height: 31%;
  width: 100%;
  background-color: blue;
  opacity: 45%;
}

.row-2 {
  height: 34%;
  width: 100%;
  opacity: 45%;
  background-color: red;
}

.row-3 {
  height: 35%;
  width: 100%;
  background-color: yellow;
  opacity: 45%;
}
