.nav#myTab {
  padding-left: 30%;
  padding-right: 30%;
}

.tab-pane#projects, .nav-link#projects-tab {
  background-color: #696969;
  border-color: #696969;
}

.tab-pane#graphics, .nav-link#graphics-tab {
  background-color: gray;
  border-color: gray;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.nav-tabs {
  border-bottom: none;
}

#graphic-image#hover {
  transform: scale(1.5);
}
