<div class="about-page">
  <div class="about-content bg-dark container my-5 py-3">
    <div class="jumbotron jumbotron-fluid rounded px-5">
      <h2 class="display-10 text-center">I have no special talent. I am only passionately curious.</h2>
      <hr class="px-4 my-4">
      <p class="lead-10 text-right mx-5 px-5">- Albert Einstein</p>
    </div>
    <div class="card-group">
      <div class="col-md-6">
        <div class="card bg-light" id="about-card">
          <div class="card-body">
            <h5 class="card-title">Personal Life</h5>
            <p class="card-text">Growing up, my parents raised me on the foundation of hard-work,
            determination and honesty. <br>As far back as I can remember, I was always building or fixing something.
            Whether it was renovations/repairs in the house, fixing bicycles or making a go-kart: there was always something brewing.
            I was blessed to have a workshop to tinker around in, which naturally grew my creative cravings.
            <br>Fixing and building was my escape for the stresses of growing up, and to this day, my passionate focus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-light" id="about-card">
          <div class="card-body">
            <h5 class="card-title">Professional</h5>
            <p class="card-text">
              My professional career actually started out of failure. I had run into a wall where I could no longer attend college,
              so I had to get my foot in the door. Without a degree, I was going to need to work hard. I gave every position my all,
              nearly always in the top performing employees. With each job, I worked my way up to management and made my work-ethic well known.<hr>
              <br><h6>Throughout all my positions, I began to see a pattern.</h6><br><hr>
              I thoroughly enjoyed the technical aspects of the job, and was often the one with enough know-how to solve most issues that came across.
              Despite my curiousity, I didn't have the qualificiations to be making changes, so I put myself in that position. I recently graduated from Turing's Backend Program, and I'm ready to learn and make positive change!

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
