<div class="welcome-page">
  <div class="container">
    <div class="row justify-content-center" id="row-1">
      <div class="col-4 align-self-center bg-secondary rounded py-2">
        <div class="welcome-shout rounded bg-dark" id="top">
          <h3 class="text-center text-light font-weight-bold" id="shout-name">Colin Alexander</h3>
        </div>
        <div class="welcome-shout rounded bg-dark" id="bottom">
          <h5 class="text-center text-light font-weight-light" id="shout-game">Software Engineer | Backend<br>(Aspiring Full-Stack Engineer)</h5>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" id="row-2">
      <div class="col-6 bg-secondary py-2 align-self-center align-content-center">
        <div class="welcome-shout rounded bg-dark" id="bottom">
          <h5 class="text-center text-light" id="shout-about">A dedicated problem-solver with a passionate curiosity for how things came to life. <br>
            If it clicks, I'd like to know what makes it tick!</h5>
        </div>
        <a class="btn btn-primary btn-md btn-block" href="/work" role="button">See My Work</a>
      </div>
    </div>
  </div>
</div>
